.card{
    height:200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

img{
    height: 100%;

}

.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.guessPrompt{
    text-align: center;
}